POSTGRES_URL="postgres://postgres.plnkaqaxklvnnujajvqa:cBRijnFvgNdagTKW@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_USER="postgres"
POSTGRES_HOST="db.plnkaqaxklvnnujajvqa.supabase.co"
SUPABASE_JWT_SECRET="2vAm6hnPqi9YxlydLBi1VVq3x+NaEufWFTRr70zJ0rE96LN4JUlwXK4LUQfNiXI2vXlsljDHlfIJhM22vcC28g=="
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsbmthcWF4a2x2bm51amFqdnFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4MjE4NTYsImV4cCI6MjA3ODM5Nzg1Nn0.VqX45XamvxzPuOsdadx-hmzk-bdahaEEu32ls32nuSw"
POSTGRES_PRISMA_URL="postgres://postgres.plnkaqaxklvnnujajvqa:cBRijnFvgNdagTKW@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_PASSWORD="cBRijnFvgNdagTKW"
POSTGRES_DATABASE="postgres"
SUPABASE_URL="https://plnkaqaxklvnnujajvqa.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsbmthcWF4a2x2bm51amFqdnFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4MjE4NTYsImV4cCI6MjA3ODM5Nzg1Nn0.VqX45XamvxzPuOsdadx-hmzk-bdahaEEu32ls32nuSw"
NEXT_PUBLIC_SUPABASE_URL="https://plnkaqaxklvnnujajvqa.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsbmthcWF4a2x2bm51amFqdnFhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjgyMTg1NiwiZXhwIjoyMDc4Mzk3ODU2fQ.sUa-3vUnJUCNsTNT5q7DZyY-CgKEuJdZBt_C8hwTIns"
POSTGRES_URL_NON_POOLING="postgres://postgres.plnkaqaxklvnnujajvqa:cBRijnFvgNdagTKW@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"